<div class="video-controls">
    <div class="icons">

        <div class="control-left">
            <button
                mat-icon-button
                matTooltip="toggle mic"
                (click)="toggleAudio()" >
                <mat-icon  *ngIf="isLocalMicOn" >mic</mat-icon>
                <mat-icon *ngIf="!isLocalMicOn" >mic_off</mat-icon>
            </button>
            <button
                mat-icon-button
                matTooltip="toggle camera"
                (click)="toggleVideo()" >
                <mat-icon *ngIf="isLocalVideoOn" >videocam</mat-icon>
                <mat-icon *ngIf="!isLocalVideoOn" >videocam_off</mat-icon>
            </button>
            <button
                mat-icon-button
                matTooltip="toggle chat window" 
                (click)="toggleChat()" >
                <mat-icon *ngIf="!isChatActive" >chat</mat-icon>
                <mat-icon *ngIf="isChatActive" >close</mat-icon>
            </button>
            <!-- <button mat-icon-button  >
                <mat-icon>arrow_back</mat-icon>
            </button> -->
            <!-- <button
                mat-icon-button
                matTooltip="Leave meeting"
                matTooltipClass="tooltip"
                (click)="leave()" >
                <mat-icon
                id="leave-meeting-btn"
                >backspace</mat-icon>
            </button> -->
        </div>
        <!-- <div class="control-right">
            <button
                mat-icon-button
                matTooltip="mute remotepeer"
                (click)="toggleRemotepeerMic()" >
                <mat-icon>volume_off</mat-icon>
            </button>
            <button
                mat-icon-button
                matTooltip="Toggle Background blur"
                (click)="setBgBlur()" >
                <mat-icon *ngIf="isBackgroundBlur" >blur_on</mat-icon>
                <mat-icon *ngIf="!isBackgroundBlur" >blur_off</mat-icon>
            </button>
        </div> -->
        

    </div>
</div>