<div class="video-controls">
    <div class="icons">

        <button mat-icon-button  (click)="toggleAudio()" >
            <mat-icon>mic</mat-icon>
        </button>
        <button mat-icon-button  (click)="toggleVideoCam()" >
            <mat-icon>videocam</mat-icon>
        </button>
        <button mat-icon-button  >
            <mat-icon>chat</mat-icon>
        </button>
        <button mat-icon-button  >
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleScreenShare()" >
            <mat-icon>screen_share</mat-icon>
        </button>
        <button mat-icon-button (click)="leave()" >
            <mat-icon>backspace</mat-icon>
        </button>

    </div>
</div>