.video-controls{
    background-color: rgb(33,33,33);
    /* width: 100%; */
    height: fit-content;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: antiquewhite;
}

.icons{
    display: flex;
    /* gap: 20px; */
}

.control-left, .control-right{
    display: flex;
    gap: 20px;
}

button{
    border: 1px solid transparent;
    /* font-size: 20px; */
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover{
    color: blueviolet;
    transition: 0.2s ease;
}

button:active{
    border: 1px solid blueviolet;
    border-radius: 50%;
}

#leave-meeting-btn{
    color: rgb(250, 23, 23);
}

@media(max-width:500px){
    .video-controls{
        padding: 2px 5px;
    }

    .icons{
        gap: 8px;
    }

    .control-left, .control-right{
        gap: 8px;
    }

    button{
        font-size: 15px;
    }
}

@media(max-width:350px){
    .video-controls{
        padding: 1px 3px;
    }

    .icon{
        flex-direction: column;
        gap: 5px;
    }

    .control-left, .control-right{
        gap: 5px;
    }

    button{
        padding: 2px;
    }
}