.user-name{
    position: absolute;
    bottom: 10px;
    z-index: 1;
    left: 3%;
    font-size: 19px;
    margin: 0;
    padding: 9px;
    color: rgb(171, 171, 171);
    background-color: rgb(29,29,29);
    border-radius: 5px;
   
}
.initials{
    position: absolute;
    left: 50%;
    top: 50%;
    color: #9d9c9c;
    height: min(15vh,15vw);
    width: min(15vh,15vw);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 10rem;
    text-align: center;
    vertical-align: middle;

    .text-initials{
        line-height: min(15vh,15vw);
    font-size: min(7vh,7vw);
    color: #00000096;
    }
}