<div class="main-container">
    <div id="main-video-container">

        <div class="boxes">
            <div class="videobox-compressed">
                <div class="gallery-view-compressed">
                    <app-gallery></app-gallery>
                    <div id="localpeer" class="main-video-local" >
                    <!-- [class.dominant-speaker]="dominantSpeaker ? dominantSpeaker?.peerId==user?.peerId:false"  -->
            
                        <p class="local-username" style="margin: 5px; z-index: 999; position: absolute;" > You </p>
                    </div>
                </div>
                <div class="video-container" *ngIf="false">
                    <div class="localvideotrack" *ngIf="localpeer?.name" class="v-container">
                        <div id="localpeer" class="videos">
                            <div class="user-name">{{localpeer.name}}</div>
                        </div>
                    </div>
                    <div *ngFor="let user of participantsInCall; let i=index" class="v-container">
                        <div id={{user.peerId}} class="videos">
                            <div class="user-name">{{user.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chatbox" >
                <app-chat-panel></app-chat-panel>
            </div>
        </div>

        <div class="main-video">

                <div class="main-video-bottom">

                    <app-call-controls></app-call-controls>

                    <div class="overlay-btns">
                            <button 
                                    mat-icon-button 
                                    matTooltip="face-overlay"
                                    (click)="toggleFaceOverlay()" 
                                    style="background-color: aliceblue;">
                                    <mat-icon>face</mat-icon>
                            </button>
                            <button 
                                    mat-icon-button 
                                    matTooltip="pan-overlay"
                                    (click)="togglePanOverlay()" 
                                    style="background-color: aliceblue;">
                                    <mat-icon>credit_card</mat-icon>
                            </button>
                            <button 
                                    mat-icon-button 
                                    matTooltip="flip camera"
                                    (click)="toggleFlipCam()" 
                                    style="background-color: aliceblue;">
                                    <mat-icon>flip</mat-icon>
                            </button>
                            <button 
                                    mat-icon-button 
                                    matTooltip="Take Screenshot"
                                    (click)="captureScreenshot()" 
                                    style="background-color: aliceblue;">
                                    <mat-icon>camera</mat-icon>
                            </button>
                            <button 
                                    mat-icon-button 
                                    matTooltip="Lock Meeting"
                                    (click)="lockMeeting()" 
                                    style="background-color: aliceblue;">
                                    <mat-icon *ngIf="isMeetingLocked" >lock</mat-icon>
                                    <mat-icon *ngIf="!isMeetingLocked" >lock_open</mat-icon>
                            </button>
                            <button 
                                    mat-icon-button 
                                    matTooltip="Toggle Recording"
                                    (click)="toggleRecording()" 
                                    style="background-color: aliceblue;">
                                    <mat-icon *ngIf="isRecording" >lock</mat-icon>
                                    <mat-icon *ngIf="!isRecording" >lock_open</mat-icon>
                            </button>
                    </div>

            </div>
        </div>
           
       <!--  PAN & Face overlay divs to be rolled out conditionally -->
        <div class="pan-overlay-out" *ngIf="enablePanOverlay">
            <div class="pan-overlay-in" id="pan-overlay"></div>
          </div>
      
        <div *ngIf="enableFaceOverlay" class="face-overlay-out">
            <div class="face-overlay-in" id="face-overlay"></div>
        </div>
        
    </div>

    
</div>

 
<!-- <div class="loaders">
    <app-loader *ngIf="showloader"></app-loader>
</div> -->