.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 255, 255);
}

.main-video-container{
    width: 60vw;
    height: 60vh;
    /* background-color: black; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-video{
    background-color: black;
    border-radius: 10px;
    width: 70vw;
    height: 80vh;
}



/* .video-box{
    background-color: black;
    width: 100%;
    height: 100%;
} */

