.main-preview-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 80px;
}

.preview-left-video, .preview-right-form{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 50%; */
    gap: 20px;
}

.video-container{
    background-color: black;
    border-radius: 10px;
    width: 45vw;
    height: 60vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.preview-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0vw 8vh 0px;
    gap: 10px;
}

.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
}

.join-btn{
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: black;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid transparent;
}

.join-btn:hover{
    background-color: rgb(50, 50, 50);
    transition: 0.2s ease;
}

.join-btn:active{
    border: 2px solid rgb(121, 121, 121);
}

.video-controls{
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
}

.controls{
    border: 1px solid transparent;
    font-size: 20px;
    padding: 4px;
    background-color: rgb(246, 246, 246);
    margin-right: 10px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.controls:hover{
    color: blueviolet;
    transition: 0.2s ease;
    background-color: rgb(228, 228, 228);
}

.controls:active{
    border: 1px solid blueviolet;
    border-radius: 50%;
}