<div class="main-preview-screen">
    <div class="preview-left-video" style="flex-direction: column;" >
        <div id="localpeer" class="video-container"></div>
        <div class="video-controls">
            <div class="icons">
            
                <button class="controls" mat-icon-button  (click)="toggleAudio()" >
                    <mat-icon *ngIf="isLocalMicOn" >mic</mat-icon>
                    <mat-icon *ngIf="!isLocalMicOn" >mic_off</mat-icon>
                </button>
                <button  class="controls" mat-icon-button  (click)="toggleVideo()" >
                    <mat-icon *ngIf="isLocalVideoOn" >videocam</mat-icon>
                    <mat-icon *ngIf="!isLocalVideoOn" >videocam_off</mat-icon>
                </button>

            </div>
        </div>
    </div>
    <div class="preview-right-form">
        <form class="preview-form" [formGroup]="meetingcreds" (ngSubmit)="join()"  ngNativeValidate>
            <h4 style="font-weight: 600; font-size: 25px;">Enter Your Meeting Details</h4>

            <mat-form-field>
                <mat-label >Meeting ID</mat-label>
                <input matInput
                placeholder="Ex. abcd2"
                formControlName="meetingId"
                (keydown.enter)="$event.preventDefault()"
                required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Meeting Pin</mat-label>
                <input 
                matInput
                maxlength="5"
                formControlName="meetingPin"
                required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Display Name</mat-label>
                <input 
                matInput
                type="text"
                formControlName="displayName"
                placeholder="Ex. John">
            </mat-form-field>

            <button class="join-btn" type="button" (click)="join()">JOIN</button>
            
        </form>
    </div>
</div>