<div class="main-preview-screen">
    <div class="preview-left-video" style="flex-direction: column;" >
        <div id="localpeer" class="video-container">
            <div class="video-controls">
                <div class="icons">
                
                    <button class="controls" mat-icon-button  (click)="toggleAudio()" >
                        <mat-icon *ngIf="isLocalMicOn" >mic</mat-icon>
                        <mat-icon *ngIf="!isLocalMicOn" >mic_off</mat-icon>
                    </button>
                    <button  class="controls" mat-icon-button  (click)="toggleVideo()" >
                        <mat-icon *ngIf="isLocalVideoOn" >videocam</mat-icon>
                        <mat-icon *ngIf="!isLocalVideoOn" >videocam_off</mat-icon>
                    </button>
                    <button  class="controls" mat-icon-button  (click)="toggleBlur()" >
                        <mat-icon *ngIf="isBackgroundBlur" >blur_on</mat-icon>
                        <mat-icon *ngIf="!isBackgroundBlur" >blur_off</mat-icon>
                    </button>
    
                </div>
            </div>
        </div>
        
    </div>
    <div class="preview-right-form">
        <form class="preview-form" [formGroup]="meetingcreds" (submit)="join()">
            <h4 style="font-weight: 600; font-size: 25px;">Enter Your Meeting Details</h4>

            <mat-form-field>
                <mat-label >Meeting ID</mat-label>
                <input matInput
                placeholder="Ex. abcd2"
                formControlName="meetingId"
                autocomplete="on"
                type="text"
                name="meetingId"
                (keydown.enter)="$event.preventDefault()"
                required>
                <mat-error *ngIf="meetingcreds.get('meetingId')?.hasError('firstCharSpace')">
                    First character cannot be whitespace.
                </mat-error>
                <mat-error *ngIf="meetingcreds.get('meetingId')?.hasError('noSpaces')">
                    Whitespace is not allowed.
                </mat-error>
                <mat-error *ngIf="meetingcreds.get('meetingId')?.hasError('maxLen')">
                    MeetingID has to be of 10 digits.
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Meeting Pin</mat-label>
                <input 
                matInput
                type="text"
                name="meetingPin"
                autocomplete="on"
                maxlength="5"
                formControlName="meetingPin"
                required>
                <mat-error *ngIf="meetingcreds.get('meetingPin')?.hasError('maxLenPin')">
                    Meeting Pin has to be of 5 digits.
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Display Name</mat-label>
                <input 
                matInput
                type="text"
                name="displayName"
                autocomplete="on"
                formControlName="displayName"
                placeholder="Ex. John"
                required>
            </mat-form-field>

            <button class="join-btn" type="button" (click)="join()">JOIN</button>
            
        </form>
    </div>
</div>

<!-- <div class="loaders">
    <app-loader *ngIf="showloader"></app-loader>
</div> -->