.chat-panel-main{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-left: 1px solid rgb(134,134,134);
    height: 84vh;
    position: relative;
    margin-left: 1px;
    margin-top: 5px;
}

.chat-top{
    top: 0;
    height: 47px;
    padding: 2px 15px;
    background-color: black;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
}

/* button{
    background-color: #1a1a1a;
    color: rgb(63, 40, 40);
} */

mat-icon{
    color: wheat;
}

.customer-name{
    font-size: 18px;
    font-weight: 500px;
    text-transform:uppercase;
    color: wheat;
}

.chat-message-panel{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;   /* Firefox */
    /* border: 1px solid rgb(202, 202, 202); */
}

.chat-message-panel::-webkit-scrollbar {
    display: none;  /*Hide scrollbar for Chrome, Safari and Opera */
  }

.chat-keyboard{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.keyboard-panel {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: black;
    padding: 10px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 10px 10px;
}

.chat-input{
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: black;
    width: 65%;
    color: white;
}

button.send-msg{
    padding: 8px 14px;
    background-color: rgb(255, 194, 80);
    border: 1px solid rgb(164, 164, 164);
    border-radius: 5px; 
    margin-left: 2px;
}

button.send-msg:hover{
    cursor: pointer;
    background-color: rgb(217 151 27);
}

.chat-input:hover{
    background-color: rgb(22, 22, 22);
    transition: 0.2s ease;
}

input:focus{
    border: 1px solid rgb(255, 216, 144);
}

input:focus-visible{
    outline: none;
}

.bubble {
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin: 4px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 5px;
    &:before {
        position: absolute;
        top: 19px;
        display: block;
        width: 8px;
        height: 6px;
        content: '\00a0';
        transform: rotate(29deg) skew(-35deg);
    }
    &.you {
        float: left;
        color: black;
        background-color: aliceblue;
        align-self: flex-start;
        animation-name: slideFromLeft;
        &:before {
            left: -3px;
            background-color: aliceblue;
        }
    }
    &.me {
        float: right;
        color: #1a1a1a;
        background-color: rgb(255, 194, 80);
        align-self: flex-end;
        animation-name: slideFromRight;
        &:before {
            right: 0px;
            background-color: rgb(255, 194, 80);
        }
    }
}
.conversation-start {
    position: relative;
    width: 100%;
    margin-bottom: 27px;
    text-align: center;
    span {
        font-size: 14px;
        display: inline-block;
        color:#e3e3e3;
        &:before,&:after {
            position: absolute;
            top: 10px;
            display: inline-block;
            width: 30%;
            height: 1px;
            content: '';
            /* background-color: #e6e6e6; */
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
    }
}

@keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}
@-webkit-keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}
@keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}
@-webkit-keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}