<div class="chat-panel-main">
    <div class="chat-top" *ngFor="let user of participantsInCall" >
        <div class="customer-name" > {{ user }}
            <!-- <p class="name"> {{remotePeer?.name}} </p> -->
        </div>

        <!-- <button 
                mat-icon-button 
                (click)="closeChat()" >
                <mat-icon>close</mat-icon>
        </button> -->
        
    </div>

    <div class="chat-message-panel">
        <!-- <div class="conversation-start">
            <span  style="    color: #bfbfbf;font-size: 12px;">Monday, 1:27 PM</span>
        </div> -->
        
        <div class="bubble" *ngFor="let text of textAnyoneSends" [ngClass]="{'you': text.key === 'peer', 'me': text.key === 'me'} ">
            {{ text.value }}
            <div class="timestamp">
                {{ text.timeSentOn }}
            </div>
        </div>

    </div>

    <div class="chat-keyboard">
        <form class="keyboard-panel" (ngSubmit)="sendChatMsg()" aria-required="true" >
            <input 
                required
                #myInput
                class="chat-input"
                type="text" 
                name="texttosend"
                placeholder="Type your message...">
            <button 
                type="submit"
                class="send-msg"
                >Send</button>
        </form>
    </div>
</div>