<div class="grid-container">
    <!--  -->
    <div class="grid grid--{{
        getNumberOfTiles
    }} isScreenSharing--{{getNumberOfTiles}}"
    id="screenshotDiv">
        <!-- <div *ngFor="let user of participantsInCall; let i=index"
            id="remotepeer"
            class="video-{{i+1}} tile videoContainer"
            [class.dominant-speaker]="dominantSpeaker ? dominantSpeaker?.peerId==user?.peerId:false"
        >
            <app-participants-view 
            [remotePeer]="user"
            [isSpeaking]="!user?.audioMuted"
            [hasVideo]="!user?.videoMuted"
            ></app-participants-view>
        </div> -->
        <div 
            #parentDiv
            *ngFor="let user of participantsInCall; let i=index"
            id={{user?.peerId}} 
            class="video-{{i+1}} tile videoContainer--{{getNumberOfTiles}}"
            [class.dominant-speaker]="dominantSpeaker ? dominantSpeaker?.peerId==user?.peerId:false"
        >
            <app-participants-view 
            [remotePeer]="user"
            [isSpeaking]="!user?.audioMuted"
            [hasVideo]="!user?.videoMuted"
            ></app-participants-view>
        </div>
        <div id="screenShare" [ngStyle]="!isScreenSharing? {'display':'none'}:{}" class="screenshare isScreenSharing--{{getNumberOfTiles}}"></div>
    </div>
</div>